/***/
.custom-content {
//   --background: #000; /* Fond noir */
  color: #fff;
}

/* Groupe des items */
ion-item-group {
  margin-bottom: 5px;

}

/* Style pour les items de titres */
ion-item {
  --background: #421a8d; /* Fond violet pour les titres */
  --color: #fff; /* Texte blanc */
  border-radius: 8px;
  margin: 5px 0;

}

.mode-container {
  display: flex; /* Utilise Flexbox */
  align-items: center; /* Centre verticalement le contenu */
  gap: 8px; /* Espace entre l'icône et le texte */
 /* Marge à droite */
}

.icon {
  font-size: 24px; /* Taille de l'icône (ajustez selon vos besoins) */
  color: var(--ion-color-primary); /* Couleur personnalisée si besoin */
}

.container {
  display: flex;
  align-items: center; /* Assure que le contenu du texte est bien centré verticalement */
  font-size: 16px; /* Taille de la police (ajustez si nécessaire) */

}


/* Survol des titres */
ion-item:hover {
  --background: #6b36c6; /* Violet plus clair au survol */
  cursor: pointer;
}

/* Survol des chapitres */
ion-item.chapitre:hover {
  --background: #33c09c; /* Vert clair au survol */
  cursor: pointer;
}

/* Icônes */
ion-icon {
  font-size: 1.5rem;
}

ion-item.enonce-mode:hover,
ion-item.corrige-mode:hover {
    --color: gold;
    --font-weight: bold;
    --background: #0b0c0c; 
    // --background: #056e4b; /* Vert légèrement plus clair au survol */
    cursor: pointer;
}
ion-segment {
  margin: 10px;
}
/* Survol des chapitres */
ion-item.enonce-mode:hover ion-icon,
ion-item.corrige-mode:hover ion-icon {
    color: #fff; /* Texte blanc */
}

/* Boutons - mode Enoncé */
ion-button.enonce-mode,
ion-item.enonce-mode {
  --background: #f3d52e; /* Fond gris pour les chapitres en mode Corrigé */
  --color: #fff;
  border-radius: 8px;
  margin: 5px 0;
}
/* Boutons - mode Corrigé */
ion-button.corrige-mode,
ion-item.corrige-mode  {
  --background: #07a576; /* Fond vert pour les chapitres en mode Corrigé */
  --color: #fff;
  border-radius: 8px;
  margin: 5px 0;
}

// /* Marges pour la liste */
ion-list {
  margin-left: 25px; /* Marge à gauche */
  margin-right: 25px;
}





