.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.custom-content{
  background-color:rgb(46, 122, 122);
  padding-top:20px;
  padding-bottom:20px;
  margin-top:35px;
  margin-bottom:15px;
  max-height: 90vh;
  max-width: 100vw;
  border-radius: 5px;
}
.footer-text{
    color: black; /* Couleur noire pour le texte */
    font-weight: bold;
}

.loading-content{
   background-color: rgb(8, 8, 8)
}