<ion-header [translucent]="true">
  <ion-toolbar  color="light"> 
    <ion-title class="custom-toolbar"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <ion-spinner name="crescent" class="custom-spinner"></ion-spinner>
  <h2 class="custom-title">Chargement en cours...</h2>
  <div class="custom-loading">TERMINALE C
    <p>Cours de Mathématiques, Exercices et Solutions pour le niveau Terminal C
    </p> 
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="light"> 
    <ion-title>Cymath</ion-title>
  </ion-toolbar>
</ion-footer>


