.no-content-box {
  background-color: #f2f2f2; /* Fond gris clair */
  color: #666; /* Texte gris foncé */
  padding: 20px;
  border: 1px solid #ddd; /* Bordure grise */
  border-radius: 8px; /* Coins arrondis */
  text-align: center; /* Centrer le texte */
  margin-top: 20px; /* Espacement au-dessus */
}

.span-no-content{
        background-color: #080808;
        color: gold;
        font-size:medium;
        font-weight: bolder;
        text-transform: capitalize;
        text-decoration: dotted;
        border-radius: 5px;
        margin-bottom: 15px;
        margin-top: 15px;
        text-align: center; /* Centrer le texte */    
}

.enonce-header {
  display: flex;
  align-items: center;
  gap: 3px; /* Espace entre l'image et le titre */
}

.enonce-image {
  max-width: 120px;
  max-height: 35px;
 filter: grayscale(80%) sepia(60%) hue-rotate(200deg) saturate(500%);
}


.enonce-title {
  flex: 1; /* Permet au titre de prendre l'espace restant si nécessaire */
}

.no-content-box {
  text-align: center;
  background-color: #f0f0f0;
  padding: 20px;
  border-radius: 8px;
}

.txt-content-box {
  white-space: pre-wrap;
  background-color: #f9f9f9;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-family: monospace;
}
