<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button [routerLink]="['/home']">
        <ion-icon slot="icon-only" name="home-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Liste des Exercices</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="custom-content">
  <!-- Segment pour changer la vue (Enoncé / Corrigé) -->
  <ion-segment [(ngModel)]="viewMode" color="tertiary">
    <ion-segment-button class="enonce-mode" value="enonce">
      Enoncé
    </ion-segment-button>
    <ion-segment-button class="corrige-mode" value="corrige">
      Corrigé
    </ion-segment-button>
  </ion-segment>

  <ion-list>
  <ion-item-group *ngFor="let exercice of exercicesList">
    <!-- Titre de l'exercice -->
    <ion-item (click)="toggleExercices(exercice.id, exercice.chapitres)">
      <ion-icon 
        [name]="expandedExerciceId === exercice.id ? 'chevron-down-outline' : 'chevron-forward-outline'" 
        slot="start">
      </ion-icon>
      {{ exercice.titre }}

      <!-- Boutons Enoncé et Corrigé -->
      <ion-buttons slot="end">
        <ion-button class="enonce-mode" *ngIf="viewMode === 'enonce'" (click)="goToEnoncePage(exercice.id)">
          Enoncé
        </ion-button>
        <ion-button class="corrige-mode" *ngIf="viewMode === 'corrige'" (click)="goToCorrigePage(exercice.id)">
          Corrigé
        </ion-button>
      </ion-buttons>
    </ion-item>

    <!-- Liste des chapitres -->
    <div *ngIf="expandedExerciceId === exercice.id">
      <app-chapitre-list
        [chapitres]="exercice.chapitres"
        [viewMode]="viewMode"
        [selectedChapitreId]="selectedChapitreId"
        [ngClass]="getClasses()"
        (chapitreClick)="goToExerciceDetail($event)">
      </app-chapitre-list>
    </div>
  </ion-item-group>
</ion-list>

</ion-content>
