<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Cours</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Explorez les différents cours disponibles pour vous.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Exercices</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Découvrez les exercices pour tester vos connaissances.
    </ion-card-content>
  </ion-card>
</ion-content>
